<section class="row">
    <div class="col-8">
        <h1>Jungle Jumble</h1>

        <!-- <div class="w-75">
            <div>
                <div class="d-flex justify-content-between">
                    <h3>🐒 Jumble</h3>
                    <h3>63s</h3>
                </div>
                <p>Monkeys go bananas for fruit salad, especially when it's filled with juicy pineapples.</p>
            </div>

            <div>
                <form onsubmit="app.jumblesController.checkSubmission()">
                    <input type="text">
                    <button class="btn btn-outline-info">Submit</button>
                </form>
            </div>
        </div> -->
        <div>
            <div class="row" id="active-jumble"></div>

        </div>
    </div>

    <div class="col-4">
        <h3>Jumbles!</h3>
        <div class="row" id="draw-jumble"></div>
        <form onsubmit="app.jumbleController.submitJumble()">
            <input class="col-12" type="text" name="name" placeholder="Name">
            <textarea class="col-12" name="body" id="user-jumble" placeholder="Jumbling Jumble" rows="10">

            </textarea>
            <button class="col-12 btn btn-danger">Submit</button>
        </form>


    </div>
    </div>
</section>