<section class="row">
    <div class="col-8">
        <h1>Jungle Jumble</h1>

        <!-- <div class="w-75">
            <div>
                <div class="d-flex justify-content-between">
                    <h3>🐒 Jumble</h3>
                    <h3>63s</h3>
                </div>
                <p>Monkeys go bananas for fruit salad, especially when it's filled with juicy pineapples.</p>
            </div>

            <div>
                <form onsubmit="app.jumblesController.checkSubmission()">
                    <input type="text">
                    <button class="btn btn-outline-info">Submit</button>
                </form>
            </div>
        </div> -->
        <div>
            <div class="row" id="active-jumble"></div>

        </div>
    </div>

    <div class="col-4">
        <h3>Jumbles!</h3>
        <div class="row" id="draw-jumble"></div>
        <form action="">

        </form>
    </div>
    </div>
</section>